body{
    margin: 0px;
    width: 100%;
}
ul{
    height: 60px;
    width: 100%;
    background-color: rgb(19,25,33);
    font-size: 25px;
    display: inline;
    padding: 20px;
    text-align: right;
}
li{
    font-size: 20px;
    height: 60px;
    margin-left: 200px;
    color: white;
    display: inline;
}
li.logo{
    margin-left: 0px;
    color: #f08804;
}
button{
    margin-left: 2px;
    color: white;
    background-color: #f08804;
    margin-right: 12px;
}
a{
    color: white;
    text-decoration: none;
}