body{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse; 
    margin-top:20px;
    background-color: #EBF5FB;
  }
  
td,th {
    border: 1px solid #ddd;
    padding: 8px;

  }
  
tr:nth-child(even){background-color: #d9e7fc;}
  
td:hover {background-color: #bad6ff;}

th{
    padding-top: 12px; 
    padding-bottom: 12px;
    text-align: left;
    background-color: #64aae8;
    color: white;
  }

  thead{
    text-align: center;
  }